*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #023047;
}

body{
  background-color: #f4f1f1;

}

.app{
  /* min-height: 100dvh; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15em ;

}

.container{
  position: relative;
  display: flex;

}

.controls, .result{
  /* display: inline-block; */
  padding: 2em;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

}


.count{
  /* position: relative; */
  background-color: #219ebc;
  z-index: 3;
}

.subtract, .plus{
  background-color: #8ecae6;
  padding: 1.5em;
  font-size: 1.5rem;
transition: scale 200ms ease-in, backgroundColor 200ms ease-in;
cursor: pointer;
user-select: none; /* supported by Chrome and Opera */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
}

.subtract:hover, .plus:hover{
  scale: 1.1;
  background-color: #6aa5c1;
}

.subtract{
  bottom: -2em;
  position: absolute;
  left: -2em;
}

.plus{
  bottom: -2em;
  position: absolute;
  right: -2em;
}